a {
    padding: 1em;
    border: 1px solid black;
    border-radius: 10px;
    border-style: dashed;
    margin: 1em;
    flex: 1;
    text-align: center;
}

section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}