@import url('https://fonts.googleapis.com/css?family=Satisfy');


body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    background-image: url('glitter-tile.jpg');
    background-repeat: repeat;
}

h1 {
    text-align: center;
    margin: auto;
    font-size: 5em;
    font-family: 'Satisfy', cursive;
}